<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="./logs/Projeto-Robo.log" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" />
		</layout>
	</appender>


	<category name="br.nom.brunokarpo">
		<priority value="INFO" />
	</category>


	<root>
		<priority value="INFO" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>